
# Claude Local Settings
.claude/settings.local.json

# Temporary Folders
tmp/
temp/

**/node_modules/**
**/dist/**
**/build/**

*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules

yarn.lock
pnpm-lock.yaml
